# Node.js
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker-related files
docker-compose.override.yml
docker-compose*.yml
.docker/

# Environment files
.env
.env.*

# Kubernetes files
.kube/
*.helm/

# IDE files
.vscode/
.idea/

# AWS Credentials (if any)
.aws/

# Logs
*.log
